@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Instructor>
@{
    int i = 0;

    Dictionary<string, string> values = new()
    {
        {"name","ali"},
        {"age","20"}
    };
}

<a class="btn btn-success" href="/instructor/getaddform">Add</a>
<a class="btn btn-success" asp-action="Add" asp-controller="Helpers" asp-all-route-data="values">Add with tag helpers</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            <th scope="row">@(++i)</th>
            <td>@item.Name</td>
            <td>@item.workDepartment?.Name</td>
            <td><a href="/instructor/details/@item.Id">Details</a> |
                    <a href="/instructor/GetEditForm/@item.Id">Edit</a> |
                    <a asp-action="Edit" asp-controller="Helpers" asp-route-id="@item.Id">Edit with helpers</a> |
                    <a href="/instructor/delete/@item.Id">Delete</a> 

                </td>
        </tr>
        }
    </tbody>
</table>
